<h2>Register</h2>
<form #f="ngForm" (ngSubmit)="register(f)">

  {{ message }}

  <div class="form-group">
    <mat-form-field>
      <input matInput type="text" placeholder="Username" required name="username" [(ngModel)]="user.username" #username="ngModel">
      <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
        Given username is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput type="password" placeholder="Password" required name="password" [(ngModel)]="user.password" #password="ngModel">
      <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
        Generated password is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Login</button>

  <div class="form-group">
      <mat-error *ngIf="isInvalid">
        Invalid credentials pls try again
      </mat-error>
  </div>



</form>