<!DOCTYPE html>
<html>
    <head>
        <title>Felhasználok</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>User lista</h1>
        
        <form method="post" action="#" th:action="@{/user/list}" th:object="${user}">
            Username: <br />
            <input type="text" th:field="*{username}" /> <br />
            Email: <br />
            <input type="email" th:field="*{email}" /> <br />
            Password: <br />
            <input type="password" th:field="*{password}" /> <br />
            <button type="submit">Új user</button>
        </form>
        
        <ul>
            <li th:each="user : ${users}"
                th:text="${user.username}">
                user1
            </li>
        </ul>
    </body>
</html>